*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courier New', sans-serif;
    background-color: #a89b9d;
}


body{
    font-family: sans-serif;
}


/* -------- nav bar -----------*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 3px 12px;
    position: relative;
    margin: 5px;
}

/* drop down links*/
.nav-links ul li ul li{
    list-style: none;
}

.nav-links ul li ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #086788;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

/*this drop downs items*/
.nav-links ul li ul li:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;

}

/*the main items*/
.nav-links ul li:hover{
    transition: .5s;
}

.nav-links ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #A41623;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-links ul ul {
    display: none;
    position: absolute;
}


.nav-links ul ul li{
    float: none;
    display: list-item;
    position: relative;
}


.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
}


li>a:after{
    content: ' +';
}


.nav-links ul li:hover>ul{
    display: block;
}

li>a:only-child:after{
    content: "";
}

nav .fa{
    display: none;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}


[id^=drop]{
    display: none;
}


/* -------- button -----------*/
.button{
    display: inline-block;
    text-decoration: none;
    color: #1F1F1F;
    border: 1px solid #1F1F1F;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
}

.button:hover{
    border: 1px solid #707070;
    background-color: #A41623;
    transition: .5s;
    color: black;
}


/* -------- banner -----------*/

#banner{
    padding-top: 5%;
    min-height: 85vh;
    width: 100%;
    position: relative;
}

.name-heading{
    font-size: 70px;
    margin-top: 100px;
    font-weight: 800;
    color: #A41623;
    font-family: 'Rubik Mono One', sans-serif;
}
.greeting{
    font-size: 30px;
    font-weight: 600;
}

.section-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
    font-family: 'Rubik Mono One', sans-serif;
}

/* -------- banner -----------*/
#gallery{
    padding: 50px;
    transition: .3s;
}


/* -------- footer section -----------*/
#social-media{
    padding: 100px 0;
    color: #1F1F1F;
}

.social-icons img{
    width:60px;
    transition: .5s;
}
.social-icons a:hover img{
    transform: translateY(-10px);

}

#footer{
    color: #707070;
}